@media only screen and (max-width: 1000px) {
  .container > .store {
    margin: auto;
    margin-top: 2vh;
    margin-left: 5vw;
    display: block;
    align-items: center;
    width: 90%;
    height: 40vh;
    text-align: center;
  }

  .store .containerLabel {
    margin: auto;
    display: block;
    text-transform: uppercase;
    width: 100%;
    height: 10vh;
  }

  div > .activateApple,
  div > .activateOrange {
    margin: auto;
    margin-top: 5vh;
    background-color: #29801c;
    color: white;
    width: 80vw;
    font-size: large;
    border-radius: 1vw;
  }
  /* vertical seperator */
  .container > .vertical-seperator {
    display: none;
  }
  /* Customer */
  div.container > .customer {
    /* margin: auto; */
    margin-top: 0vh;
    align-items: center;
    display: block;
    align-items: center;
    width: 90%;
    height: 55vh;
    background-color: white;
    text-align: center;
  }
  .customer .containerLabel {
    margin: auto;
    display: block;
    text-transform: uppercase;
    width: 100%;
    height: 10vh;
  }
  .container > .customer > ul {
    /* padding-top: 10vh; */
    padding-left: 0vh;
    text-align: left;
    list-style-type: none;
  }

  .customer > ul > li {
    margin-top: 1vh;
  }

  .customer > ul > li > .label {
    margin-left: 10vw;
    display: block;
    width: 80%;
  }
  .customer > ul > li > label > input {
    width: 40px;
    height: 25px;
    float: right;
  }

  .bill {
    margin: auto;
    margin-top: 3vh;
    font-size: 25px;
    font-weight: 500;
    width: 90%;
  }

  .customer .checkout {
    margin-top: 5vh;
    padding: 2vh 8vw;
    background-color: #29801c;
    color: white;
    font-weight: 100;
    font-size: 20px;
    width: 90%;
    border: 0;
    border-radius: 1vw;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*  */
* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #e9e9e9;
  width: 100%;
  height: 100vh;
}
.vertical-seperator {
  margin-top: 30vh;
  height: 40vh;
  display: inline-block;
  width: 3px;
  margin-left: 5vw;
  background-color: grey;
}
.store {
  margin: auto;
  margin-top: 20vh;
  margin-left: 5vw;
  /* display: inline-block; */
  float: left;
  align-items: center;
  width: 40%;
  height: 60vh;
  background-color: white;
  text-align: center;
}

.containerLabel {
  margin: auto;
  display: block;
  width: 70%;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  background-color: #1473e6;
  font-size: calc(20px + 2vh);
  color: white;
}

.activateApple,
.activateOrange {
  margin: auto;
  margin-top: 10vh;
  background-color: #29801c;
  color: white;
  width: calc(100px + 5vw);
  height: 50px;
  font-size: large;
  border: 0;
  display: block;
  cursor: pointer;
}

.activateApple:hover,
.activateOrange:hover {
  background-color: #1b5712;
}
.customer {
  margin: auto;
  margin-top: 20vh;
  margin-right: 5vw;
  margin-left: 5vh;
  align-items: center;
  width: 40%;
  height: 60vh;
  background-color: white;
  text-align: center;
  float: right;
}

.customer > ul {
  /* padding-top: 10vh; */
  padding-left: 10vw;
  padding-bottom: 5vh;
  text-align: left;
  list-style-type: none;
}

.customer > ul > li {
  margin-top: 5vh;
}

.customer > ul > li > label {
  margin-left: 0;
  display: inline-block;
  width: 60%;
}
.customer > ul > li > label > input {
  width: 40px;
  height: 25px;
  float: right;
}
.checkout {
  margin-top: 10vh;
  padding: 2vh 8vw;
  background-color: #29801c;
  color: white;
  font-weight: 100;
  font-size: calc(20px);
  border: 0;
  cursor: pointer;
}
.checkout:hover {
  background-color: #1b5712;
}
